# files
*.rst
*.xml
*.nc
*.grib
*.grib2
*.grb
*.pdf
*.dat
*.txt
*.mod
*.iml
*.F90
*.so
*.cm
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# directories
figures/
data/
logs/
.idea/
processing/

